html, body {
    height: 100%;
}

body {
    font: 16px "Montserrat", "sans-serif";
}

.intro-section {
    background-image: url('/Images/introBackground.png');
    background-size: cover;
    color: #ffffff;
    height: 100%;
    padding: 60px 50px;
    font-size: 70px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.intro-section .text-center {
    height: 99%;
}

.intro-section .img-circle {
    max-height: 80%;
    width: auto;
    padding: 20px 0 0 0;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    height: 1%;
    z-index: 2;
}

/* Dropdown Button */

.dropbtn {
    background-color: Transparent;
    padding: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    top : 20px; /* adjust this */
    right : 20px;
    position:fixed;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top : 91px; /* adjust this */
    right : 20px;
    position:fixed;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* COME BACK AND FIX IT FOR MOBILE*/

.about-subsection {
    background-color: #474e5d;
    color: #ffffff;
    height: 100%;
}

#about-title {
    background-color: #474e5d;
    color: #ffffff;
    height: 25%;
    z-index: 1;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky-title {
    position: fixed;
    top: 0;
    width: 100%;
}

#about-title .col-lg-12 {
    padding: 60px 50px 0 50px;
}

.about-subsection .row {
    height: 75%;
}

.about-subsection .row .col-lg-6 {
    background-color: #474e5d;
    color: #ffffff;
    height: 100%;
    padding: 0px 50px 60px 25px;
}

.about-subsection .row .left-about-section.col-lg-6 {
    /* left side custom padding since its on the opposite side*/
    padding: 0px 25px 60px 50px;
}

.about-subsection h2 {
    color: #DB9281;
}

@media (max-width: 767px) {
    /* fix this with responsive text*/
    #about-title {
        height: 35%;
    }
    .about-subsection .row {
        height: 65%;
    }
    .about-subsection .row .left-about-section.col-xs-12 {
        height: auto;
        background-color: #474e5d;
        color: #ffffff;
        padding: 0px 50px 0px 50px;
    }
    .about-subsection .row .col-xs-12 {
        padding: 0px 50px 60px 50px;
    }
}

.about-subsection .carousel {
    height: 90%;
}

.carousel-inner, .item {
    height: 100%;
}

.carousel .item img {
    width: auto;
    max-height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.interests-subsection {
    background-color: #DB9281;
    color: #ffffff;
    padding: 60px 50px;
}
#interests-title {
    background-color: #DB9281;
    color: #ffffff;
    z-index: 1;

}

.interests-subsection h2 {
    color: rgb(73, 73, 73);
}

.interests-subsection img {
    border-radius: 3px;
}

.interests-subsection hr {
    border-color: rgb(73, 73, 73);
}

.interests-subsection .carousel {
    height: 540px;
}

.thumbnail {
    padding: 0 0 0 0;
    border: 1.5px solid #ffffff;
    border-radius: 10;
}

.thumbnail img:hover {
    box-shadow: 0 0 5px 3px rgba(73, 73, 73, 0.5);
    opacity: 0.9;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#eatButton {}

.people-subsection {
    background-color: #474e5d;
    color: #ffffff;
    height: 100%;
    /* COME BACK AND FIX IT FOR MOBILE and to scale the images*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.people-subsection .row .col-lg-12, .people-subsection .row .col-xs-12 {
    padding: 60px 50px 60px 50px;
}

.people-subsection h2 {
    color: #DB9281;
}

.people-images {
    position: relative;
    height: 510px;
}

.people-images img:hover {
    transform: scale(1.05);
}

#Andy {
    position: absolute;
    /* search up relative vs absolute and fix the hover*/
    left: 0;
    bottom: 0;
    width: auto;
    height: 80%;
}

#Gordon {
    position: absolute;
    left: 60px;
    bottom: 0;
    width: auto;
    height: 80%;
}

#Parents {
    position: absolute;
    left: -20px;
    bottom: 0;
    width: auto;
    height: 80%;
}

/* Tooltip */

.tooltip>.tooltip-inner {
    background-color: #DB9281;
    color: #FFFFFF;
    border: 1px solid rgb(186, 129, 116);
    padding: 15px;
    font-size: 20px;
}

/* Tooltip on top */

.tooltip.top>.tooltip-arrow {
    border-top: 5px solid rgb(186, 129, 116);
}